@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=VT323');
.App {
  text-align: center;
  color: #fff;
  font-size: 20px;
  opacity: 1;
}
.App1 {
 text-align: center;
 flex-direction:row;
 display: flex;
 color: #fff;
 font-size: 20px;
 justify-content: center;
}
.content {
    background: rgb(256, 256, 256,0.9); /* Black background with 0.5 opacity */
    color: #012A4A; /* Grey text */
    padding: 25px; /* Some padding */
    margin: 40px;
    border-radius: 35px;
}

.Hinttext{
  text-align: left !important;
  font-size: 20px;
  color: #000;
  justify-content: left !important;
}
.minttext {
 text-align: center ;
 color: #000;
 font-size: 20px;
 justify-content: center;
 width:70px;
 justify:center;
 font-Size:45px;
}

/* The alert message box */
.alert-Success {
  background-color: #43d036; /* Red */
  color: white;
  opacity: 0.98;
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-align:center;
  height: auto;
  padding: 4px;
  margin-left: 10%;
  margin-right: 10%;
}

.alert {
  background-color: #f44336; /* Red */
  color: white;
  opacity: 0.98;
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-align:center;
  height: auto;
  padding: 4px;
  margin-left: 10%;
  margin-right: 10%;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.5s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}


* {
  box-sizing: border-box;
}
body, html, #root {
font-family: "Press Start 2" , "VT323";
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
    opacity: 0.9;
    width: 100%;
    height: auto;
    background-color: #222;
}

.box {
  height: 500px;
  border: 1px solid #000;
}

.btn-primary,.btn-primary:active {
    background-Color:#0693e3 !important;
    border-Radius:20px !important;
    box-Shadow:0px 2px 2px 1px #0F0F0F !important;
    color:white !important;
    cursor:pointer !important;
    font-Family:inherit !important;
    padding:10px !important;
    margin:10px !important;
    font-Size:20px !important;
}
.btn-primary:hover, .btn-primary:visited {
    background-Color:#8693e3 !important;
    border-Radius:20px !important;
    box-Shadow:0px 2px 2px 1px #0F0F0F !important;
    color:white !important;
    cursor:pointer !important;
    font-Family:inherit !important;
    padding:10px !important;
    margin:10px !important;
    font-Size:20px !important;
}
.overlay{
margin-bottom: 170px;
height: 100%;
}
.back2{
  background-color: #013965;
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.nav {
    background: rgba(0, 0, 0, 0.9); /* Black background with 0.5 opacity */
    color: #0693e3; /* Grey text */
    padding: 1px; /* Some padding */
    margin-bottom: 10px;

}
.moving-background {
  z-index: -1;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/background/1.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
